#root {
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.Navigator{
    align-items: left;
    background-color:rgb(24, 24, 24);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    min-width: 250px;
}

.nav-link{
    color: aliceblue;
    display: flex;
    padding-top: 25%;
    margin-right: 50px;
}

.icon{
    margin: 0 30px 0 20px;
}

